.page-background {
  background-color: #06b8cf; /* Substitua pela cor de fundo desejada */
}



body{
background-color: rgb(13, 233, 148); 
 position: 0;
  text-align: center;
background-color: rgb(106, 143, 129); 
position: 0;
text-align: center;
  
}

header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  background-color: #07b4c0;
}

.centered-text {
      text-align: center; 
     }

.banner{
  margin-top: 26px;
  background-size: 100%;
  width: 1000px;
  height: 412px;
}    

.top-margin {
  margin-top: 0; /* Define a margem de 5 centímetros no topo */
  background-color: #16daa9; /* Define a cor de fundo desejada */
  height: 100px; /* Defina a altura como 0 para evitar que a margem afete o layout */
}

.logo-container {
  margin-top: -90px; /* Ajuste a margem superior conforme necessário */
  text-align: left; /* Centralize o logotipo horizontalmente */
  padding-left: 10px;
}
/* Estilo para as barras de navegação no canto superior direito */
.nav-right {
  margin-top: -28px; /* Alinhe as barras de navegação à direita */
  text-align: right;
  padding-right: 10px;
}


/* Estilo para centralizar o carrossel */
#myCarousel {
  margin: 50px;
}


.container-imagens {
  text-align: left; /* Alinhar imagens ao centro horizontalmente, se necessário */
  margin: 10px;
  display: inline-block;
}


.container-titulo {
  margin-top: 60px; /* Adicione a margem desejada para criar espaço entre o título e o carrossel */
  margin-left: 10px;
}


.seta {
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Lado esquerdo transparente */
  border-right: 10px solid transparent; /* Lado direito transparente */
  border-top: 10px solid #000; /* Triângulo preto apontando para baixo */
  margin-left: 10px; /* Espaço entre o título e a seta */
}


.welcome-message {
  background-color: #333; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-align: center; /* Centraliza o texto horizontalmente */
  padding: 20px; /* Espaçamento interno */
  margin-top: 20px;
}

.txt-home{
  margin-left: 10px;
  margin-top: 20px;
}


