body{
  margin: auto;
  width: 1000px;
  position: relative;
  
}

header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.centered-text {
      text-align: center; 
     }

.banner{
  margin-top: 26px;
  background-size: 100%;
  width: 1000px;
  height: 412px;
}  



