<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>home</title>
    <link rel="icon" type="image/x-icon" href="/imagens/logo.png">
</head>

<body background="" src="{{ url_for('static', filename='fundo.png') }}" alt="fundo">
<body background="" src="{{ url_for('static', filename='fundo2.png') }}" alt="fundo2">
    <header>
    
        <nav class="top-menu">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li class="separator">|</li>
                <li><a href="/quemsomos.html">Quem Somos</a></li>
                <li class="separator">|</li>
                <li><a href="/contatos.html">Contatos</a></li>
            </ul>
        </nav>
    </header>
    <style>
        
        </style>
    <div><img src="{{ url_for('static', filename='logo.png') }}" alt="logo"></div>
    <img src="{{ url_for('static', filename='capa.png') }}" alt="capa">
    
    <h2>Sobre a universidade</h2>

    <p>Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Beatae voluptatibus eum 
       dolor ipsam illo possimus debitis maiores. Itaque modi ab eveniet odit totam cum, 
       assumenda, molestias aliquam labore velit explicabo incidunt, qui omnis minima placeat
       vel alias doloribus nesciunt est consectetur tempora. Sit iste natus minus, non dicta 
       ipsam, magnam optio quasi quis, quaerat assumenda? Distinctio cumque numquam impedit 
       dolor saepe quia minus. Aspernatur harum error natus dignissimos facilis, nisi 
       blanditiis quasi pariatur libero minima, itaque rem neque, reiciendis consequuntur
       fugiat? </p>
       <p>Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Beatae voluptatibus eum 
        dolor ipsam illo possimus debitis maiores. Itaque modi ab eveniet odit totam cum, 
        assumenda, molestias aliquam labore velit explicabo incidunt, qui omnis minima placeat
        vel alias doloribus nesciunt est consectetur tempora. Sit iste natus minus, non dicta 
        ipsam, magnam optio quasi quis, quaerat assumenda? Distinctio cumque numquam impedit 
        dolor saepe quia minus. Aspernatur harum error natus dignissimos facilis, nisi 
        blanditiis quasi pariatur libero minima, itaque rem neque, reiciendis consequuntur
        fugiat? </p>
       
    <footer>
        
      <h4>  <p class="centered-text">Todos os direitos reservados</p>  </h4>

    </footer>
</body>


</html>