<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="../static/imagens/logo.png">
</head>

<body>
    <div class="top-margin">
    <header>
        <h1 class="centered-text">Friendly Concert</h1>
        <div class="logo-container">
        <img src="../static/imagens/logo.png" alt="logo" style="width: 95px; height: 95px;">
        </div>

        <nav class="nav-right">

            <a href="/">Home</a>
            <a href="/quemsomos">Quem Somos</a>
            <a href="/contatos">Contatos</a>
        </nav>
    </div>

    </header>
    <div class="flex-container">
        <div id="carouselcontainer" class="mx-auto" style="max-width: 60%; height: 400px; padding-bottom: 40px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/imagens/lollapalooza.jpg" alt="lolla" style="width: 100%; height: 400px;">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/imagens/RiR.jpg" alt="rock in rio" style="width: 100%; height: 400px;">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/imagens/iwb.jpg" alt="i wanna be" style="width: 100%; height: 400px;">
                    <div class="carousel-caption">
                       
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/imagens/taylor.png" alt="taylor" style="width: 100%; height: 400px;">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/imagens/gpweekh.jpg" alt="halsey" style="width: 100%; height: 400px;">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/imagens/gpweek2.jpg" alt="kendrick" style="width: 100%; height: 400px;">
                    <div class="carousel-caption">
                    </div>
                </div>

            </div>
            
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
    
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('#myCarousel').carousel({
                interval: False 
            });
        });
    </script>

   

    <h2>Sobre a universidade</h2>

    <p>Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Beatae voluptatibus eum
        dolor ipsam illo possimus debitis maiores. Itaque modi ab eveniet odit totam cum,
        assumenda, molestias aliquam labore velit explicabo incidunt, qui omnis minima placeat
        vel alias doloribus nesciunt est consectetur tempora. Sit iste natus minus, non dicta
        ipsam, magnam optio quasi quis, quaerat assumenda? Distinctio cumque numquam impedit
        dolor saepe quia minus. Aspernatur harum error natus dignissimos facilis, nisi
        blanditiis quasi pariatur libero minima, itaque rem neque, reiciendis consequuntur
        fugiat? </p>
    <p>Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Beatae voluptatibus eum
        dolor ipsam illo possimus debitis maiores. Itaque modi ab eveniet odit totam cum,
        assumenda, molestias aliquam labore velit explicabo incidunt, qui omnis minima placeat
        vel alias doloribus nesciunt est consectetur tempora. Sit iste natus minus, non dicta
        ipsam, magnam optio quasi quis, quaerat assumenda? Distinctio cumque numquam impedit
        dolor saepe quia minus. Aspernatur harum error natus dignissimos facilis, nisi
        blanditiis quasi pariatur libero minima, itaque rem neque, reiciendis consequuntur
        fugiat? </p>

    <footer>

        <h4>
            <p class="centered-text">Todos os direitos reservados</p>
        </h4>

    </footer>
</body>


</html>
